.modal {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal img {
  display: block;
  margin: 9.6% auto;
  border: 3px solid white;

  width: auto;
  height: auto;

  max-width: 80%;
  max-height: 80%;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
}
